@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,800&display=swap");

h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 900 !important;
}

.slidev-layout {
  background-color: #f2f2f2;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

#page-root {
  --slidev-theme-primary: #006eff !important;
}

html,
body,
#app,
#page-root {
  font-family: "PT Serif", system-ui, -apple-system, 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', ‘Source Han Serif’, source-han-serif-sc, Pingfang SC,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-weight: 500;
}

.slidev-layout > .my-auto {
}
